In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('data.csv')

In [3]:
dataset.head()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,Class
0,1,1,1,1,2,2,1,2,2,1
1,1,1,1,1,2,2,2,1,2,1
2,1,1,1,1,2,2,2,2,1,1
3,1,1,1,1,2,2,2,3,3,1
4,1,1,1,1,2,2,3,2,3,1

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1191 entries, 0 to 1190
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   top-left-square       1191 non-null   int64
 1   top-middle-square     1191 non-null   int64
 2   top-right-square      1191 non-null   int64
 3   middle-left-square    1191 non-null   int64
 4   middle-middle-square  1191 non-null   int64
 5   middle-right-square   1191 non-null   int64
 6   bottom-left-square    1191 non-null   int64
 7   bottom-middle-square  1191 non-null   int64
 8   bottom-right-square   1191 non-null   int64
 9   Class                 1191 non-null   int64
dtypes: int64(10)
memory usage: 93.2 KB

In [5]:
dataset.shape

(1191, 10)

In [11]:
lists = []

In [12]:
lists = dataset.values.tolist()

In [13]:
print(lists[:5])

[[1, 1, 1, 1, 2, 2, 1, 2, 2, 1], [1, 1, 1, 1, 2, 2, 2, 1, 2, 1], [1, 1, 1, 1, 2, 2, 2, 2, 1, 1], [1, 1, 1, 1, 2, 2, 2, 3, 3, 1], [1, 1, 1, 1, 2, 2, 3, 2, 3, 1]]

In [14]:
print(len(lists))

1191

In [30]:
def data_augmentation(mylist):
    matrix = []
    output = []
    j = 0 
    
    for i in range(0,3):
        temp = []
        for k in range(0,3):
            temp.append(mylist[j])
            j +=1 
        matrix.append(temp)
        
    
    matrix2 = []
    temp2= []

    k = 0
    while k<4: 
        matrix2 = []
        for i in range(len(matrix)-1,-1,-1):
            temp2 = []
            for j in range(len(matrix[i])):
                temp2.append(matrix[j][i])
            matrix2.append(temp2)
        matrix=matrix2.copy()
        output.append([s for sub in matrix for s in sub])
        k += 1
    
    return output

In [44]:
records = []

for single_list in lists:
    recieve = data_augmentation(single_list)
    for listss in recieve:
        listss.append(single_list[9])
        records.append(listss)

In [46]:
df = pd.DataFrame.from_records(records)

In [48]:
df.columns = dataset.columns

In [49]:
df.head()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,Class
0,1,2,2,1,2,2,1,1,1,1
1,2,2,1,2,2,1,1,1,1,1
2,1,1,1,2,2,1,2,2,1,1
3,1,1,1,1,2,2,1,2,2,1
4,1,2,2,1,2,1,1,1,2,1

In [50]:
df.shape

(4764, 10)

In [51]:
print(1191*4)

4764

In [52]:
df.isnull().sum()

top-left-square         0
top-middle-square       0
top-right-square        0
middle-left-square      0
middle-middle-square    0
middle-right-square     0
bottom-left-square      0
bottom-middle-square    0
bottom-right-square     0
Class                   0
dtype: int64

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4764 entries, 0 to 4763
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   top-left-square       4764 non-null   int64
 1   top-middle-square     4764 non-null   int64
 2   top-right-square      4764 non-null   int64
 3   middle-left-square    4764 non-null   int64
 4   middle-middle-square  4764 non-null   int64
 5   middle-right-square   4764 non-null   int64
 6   bottom-left-square    4764 non-null   int64
 7   bottom-middle-square  4764 non-null   int64
 8   bottom-right-square   4764 non-null   int64
 9   Class                 4764 non-null   int64
dtypes: int64(10)
memory usage: 372.3 KB

In [62]:
for column in dataset.columns:
    print("{} has {} categories".format(column,len(df[column].unique())))

top-left-square has 3 categories
top-middle-square has 3 categories
top-right-square has 3 categories
middle-left-square has 3 categories
middle-middle-square has 3 categories
middle-right-square has 3 categories
bottom-left-square has 3 categories
bottom-middle-square has 3 categories
bottom-right-square has 3 categories
Class has 2 categories

In [66]:
for column in dataset.columns:
    print(df[column].unique())

[1 2 3]
[2 1 3]
[2 1 3]
[1 2 3]
[2 3 1]
[2 1 3]
[1 2 3]
[1 2 3]
[1 2 3]
[1 0]

In [67]:
df.to_csv('final_data.csv')